<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login - TinyApp Example</title>
</head>
<body>
  <header>
    <%- include('partials/_header'); %>
  </header>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center mt-3">
    <main class="px-3">
      <h1>Login or Sign-Up First</h1>
      <p class="lead mt-3">To start using our <b>"TinyApp"</b>, first you need to login!<br>If you are currently not an existing customer <br> <b>"NO PROBLEMO"</b><br>Just go and sign up 📝 it's FREE to use!
      </p>
      <div class="row justify-content-center">
      <div class="ms-auto form-inline p-3 content-center">
        <form method="GET" action="/login" class="form-inline my-2 my-lg-0 mr-2">
          <button type="submit" class = "btn btn-outline-dark my-2 my-sm-0">Login</button>
        </form>
        <form method="GET" action="/register" class="form-inline my-2 my-lg-0">
          <button type="submit" class = "btn btn-dark my-2 my-sm-0">Sign-up</button>
        </form>
      </div>
    </div>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>